.cont {
    display: flex;
    justify-content: space-between;
    width: 100%
}
.number {
    font-weight: bold;
    margin-left: 5px;
    width: 20px;
    margin-right: 18px;
    text-align: center;
}
.check {
    display: flex;
    align-items: center;
}
.arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #000;
    margin-right: 5px;
}
.leftCheck {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.bottomCnt {
    display: flex;
    align-items: center;
}